@using EntitiyLayer.Concrete
@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



<table class="table table-striped p-0 m-0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Müşteri Adı</th>
            <th>Şehir</th>
            <th>Meslek</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerID</td>
                <td>@item.CustomerName </td>
                <td>@item.CustomerCity </td>
                <td>@item.Job.JobName </td>
                <td><a href="/Customer/DeleteCustomer/@item.CustomerID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Customer/UpdateCustomer/@item.CustomerID" class="btn btn-outline-primary">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>

<td><a href="/Customer/AddCustomer" class="btn btn-outline-primary">Kaydet</a></td>