
@{
    Layout = null;
}
<h1>Merhaba OOP Dersleri tamamliyorum baştan :)</h1>
<h1>@ViewBag.m1</h1>
<h1>@ViewBag.m2</h1>
<h1>Merhaba OOP Dersleri tamamliyorum baştan :)</h1>
<a href="/Default/ProductView/">ÜRÜNLER SAYFASI</a>