@model OopDers1.Entity.Product
@{
    ViewData["Title"] = "UpdatePruduct";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>ÜRÜN BİGLİLERİNİ DÜZENLEME SAYAFASI</h1>

<form method="post">
    <label>ÜRÜN ID</label>
    <input type="text" asp-for="ID" class="form-control" /> <br />
    <label>ÜRÜN ADI:</label>
    <input type="text" asp-for="Name" class="form-control" /> <br />
    <label>FİYAT:</label>
    <input type="text" asp-for="Price" class="form-control" /> <br />
    <label>STOK:</label>
    <input type="text" asp-for="Stock" class="form-control" /> <br />
    <button class="btn btn-outline-success">Ürün Bilgileri Düzenle </button>
</form>