@model List<EntityLayer.Concrete.Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h2>Bildirimler</h2>
<table class="table table-dark table-bordered rounded-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Bildirim</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NotificationID</td>
                <td>@item.NotificationDetails</td>
                <td>@item.NotificationDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
