@model List<FirstPro.Models.Kitap>;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Kitap Adı</th>
            <th>Yazar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.KitapAd</td>
                <td>@item.Yazar</td>
                </tr>
        }
    </table>

    <button class="btn btn-outline-danger">Tablo Listele</button>
   
</body>
</html>
