<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.esm.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.esm.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
<style>
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

</style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img src="https://avatars.githubusercontent.com/u/107946057?s=400&u=91130c67c66643fb7339176f72fd1263267deecc&v=4"
                         height="15"
                         alt="logo"
                         loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item my-2 p-2">
                        <a asp-controller="Category" asp-action="Index">Category</a>
                    </li>
                    <li class="nav-item my-2 p-2">
                        <a asp-controller="Food" asp-action="Index">Food</a>
                    </li>
                    <li class="nav-item my-2 p-2">
                        <a asp-controller="Food" asp-action="Index">Google Chart(ÇALIŞMIYOR)</a>
                    </li>
                     <li class="nav-item my-2 p-2">
                        <a asp-controller="Food" asp-action="Index">Popup(ÇALIŞMIYOR)</a>
                    </li>
                     <li class="nav-item my-2 p-2">
                        <a asp-controller="Chart" asp-action="Statictics">Statictics</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a class="text-reset me-3" href="#">
                    <i class="fas card-text"></i>
                </a>

                <!-- Notifications -->
                <div class="dropdown">
                    <a class="text-reset me-3 dropdown-toggle popover-arrow"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

<div class="main container-fluid">
  @RenderBody()
</div>
	<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
	<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.esm.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.esm.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>


</body>
</html> 
