<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KARMAZ YAPI</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/webPainter/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/webPainter/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/webPainter/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/webPainter/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">


</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-dark py-2 pe-3 border-end border-white" href=""><i class="bi bi-telephone text-secondary me-2"></i>542 000 00 00</a>
                        <a class="text-dark py-2 px-3" href=""><i class="bi bi-envelope text-secondary me-2"></i>karmazyapi@hotmail.com</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body py-2 px-3 border-end border-white" href="">
                            <i class="fab fa-facebook-f text-secondary"></i>
                        </a>
                        <a class="text-body py-2 px-3 border-end border-white" href="">
                            <i class="fab fa-twitter text-secondary"></i>
                        </a>
                        <a class="text-body py-2 px-3 border-end border-white" href="">
                            <i class="fab fa-linkedin-in text-secondary"></i>
                        </a>
                        <a class="text-body py-2 px-3 border-end border-white" href="">
                            <i class="fab fa-instagram text-secondary"></i>
                        </a>
                        <a class="text-body py-2 px-3 border-end border-white me-auto" href="">
                           <i class="bi bi-hand-thumbs-up-fill">Takip Et</i>
                        </a>
                        <a class="text-body py-2 px-3 border-end border-white me-auto" href="">
                            <i class="bi bi-box-arrow-in-left">Giriş Yap</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm px-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">
            <h1 class="m-0 text-uppercase text-primary"><i class="bi bi-palette2 text-secondary me-3"></i>Karmaz Yapı</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4 border-end border-5 border-primary">
                <a href="index.html" class="nav-item nav-link active">Anasayfa</a>
                <a href="about.html" class="nav-item nav-link">Hakkımızda</a>
                <a href="service.html" class="nav-item nav-link">Hizmetlerimiz</a>
                <a href="service.html" class="nav-item nav-link">SSS</a>
                <a href="contact.html" class="nav-item nav-link">İletişim</a>
            </div>
            <div class="d-none d-lg-flex align-items-center ps-4">
                <i class="fa fa-2x fa-mobile-alt text-secondary me-3"></i>
                <div>
                    <h5 class="text-primary mb-1"><small>Bize Ulaşın</small></h5>
                    <h6 class="text-light m-0">542 000 00 00</h6>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero" style="margin-bottom: 90px;">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-dark">Evinizi Canlı Renklere Taşıyoruz.</h1>
                    <p class="fs-4 text-dark mb-4">İç dekarosyon hizmetimizi 20 yıllık tecrübemizle sunuyoruz. </p>
                    <div class="pt-2">
                        <a href="" class="btn btn-secondary rounded-pill py-md-3 px-md-5 mx-2">Teklif Alın</a>
                        <a href="" class="btn btn-outline-secondary rounded-pill py-md-3 px-md-5 mx-2">İletişime Geç</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row gx-0 mb-3 mb-lg-0">
                <div class="col-lg-6 my-lg-5 py-lg-5">
                    <div class="about-start bg-primary p-5">
                        <h1 class="display-5 mb-4">KARMAZ YAPI'YA HOŞ GELDİNİZ.</h1>
                        <p>Daha detayli bilgi için bize ulaşabilirsiniz.  </p>
                        <a href="" class="btn btn-secondary rounded-pill py-md-3 px-md-5 mt-4">İletişime Geç</a>
                    </div>
                </div>
                <div class="col-lg-6" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="~/webPainter/img/about-1.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="row gx-0">
                <div class="col-lg-6" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="~/webPainter/img/about-2.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 my-lg-5 py-lg-5">
                    <div class="about-end bg-primary p-5">
                        <h1 class="display-5 mb-4">Neden Bizi Seçmelisiniz ?</h1>
                        <p>20 Yıllık tecrübemiz, işini en iyi yaparn ustalarımız ve en uygun fiyat vb... </p>
                        <a href="" class="btn btn-secondary rounded-pill py-md-3 px-md-5 mt-4">Teklif Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-5 ">Profesyonel İç Dekarosyon Hizmetleri</h1>
                <hr class="w-100 mx-auto text-primary " style="opacity: 1;">
            </div>
            <div class="row gy-4 gx-3">
                <div class="col-lg-4 col-md-6 pt-5">
                    <div class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0">
                        <div class="service-icon p-3">
                            <div><i class="fa fa-2x fa-paint-brush"></i></div>
                        </div>
                        <h3 class="mt-5">Normal Boyama</h3>
                        <a class="btn shadow-none text-secondary" href="">Diğer Hizmetlerimiz<i class="bi bi-arrow-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5">
                    <div class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0">
                        <div class="service-icon p-3">
                            <div><i class="fa fa-2x fa-paint-roller"></i></div>
                        </div>
                        <h3 class="mt-5">Duvar Boyama</h3>
                        <a class="btn shadow-none text-secondary" href="">Diğer Hizmetlerimiz<i class="bi bi-arrow-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5">
                    <div class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0">
                        <div class="service-icon p-3">
                            <div><i class="fa fa-2x fa-brush"></i></div>
                        </div>
                        <h3 class="mt-5">Zemin Kaplama</h3>
                        <a class="btn shadow-none text-secondary" href="">Diğer Hizmetlerimiz<i class="bi bi-arrow-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Quote Start -->
    <div class="container-fluid bg-primary bg-quote py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row g-0 justify-content-start">
                <div class="col-lg-6">
                    <div class="bg-white text-center p-5 rounded-3 border border-2 border-secondary shadow-lg">
                        <h1 class="mb-4">Teklif Alın</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Hitap Edilecek Ad ve Soyad*" style="height: 55px;">
                                </div>
                                <div class="col-12 ">
                                    <input type="email" class="form-control bg-light border-0" placeholder="E-Posta Adresi*" style="height: 55px;">
                                </div>
                                <div class="col-12 ">
                                    <input class="form-control bg-light border-0" placeholder="Telefon Numarası" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control bg-light border-0 py-3" rows="5" placeholder="Hizmet istekleri ...*"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Hizmet İste</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quote End -->



    

    <!-- Footer Start -->
    <div class="container-fluid bg-dark bg-footer text-light py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary">Bize Ulaşın</h4>
                    <hr class="w-25 text-secondary mb-4" style="opacity: 1;">
                    <p class="mb-4">Daha detayli bilgi için bize ulaşabilirsiniz.                    </p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>İstanbul/Türkiye</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>karmazyapi@hotmail.com                    </p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>542 000 00 00</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary">Hizmetlerimiz</h4>
                    <hr class="w-25 text-secondary mb-4" style="opacity: 1;">
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Normal Boyama</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Duvar Boyama</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Zemin Kaplama</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Diğer Hizmetlerimiz</a>
        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary">Site Menü</h4>
                    <hr class="w-25 text-secondary mb-4" style="opacity: 1;">
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Anasayfa</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Hakkımızda</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Hizmetlerimiz</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>SSS</a>
                        <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>İletişim</a>
                        <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Giriş Yap</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary">Bizi Takip Edin</h4>
                    <hr class="w-25 text-secondary mb-4" style="opacity: 1;">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-3 border-0" placeholder="E-Posta Adresiniz">
                            <button class="btn btn-primary">Takip Et</button>
                        </div>
                    </form>
                    <h6 class="text-primary mt-4 mb-3">Sosyal Medya Adreslerimiz</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary text-dark py-4">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">Copyright &copy; <a class="text-dark fw-bold" href="#">KARMAZ YAPI</a>. Tüm Hakları Saklıdır.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by Developer #<a class="text-dark fw-bold" href="https://htmlcodex.com">İbrahim Karmaz</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-secondary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/webPainter/lib/easing/easing.min.js"></script>
    <script src="~/webPainter/lib/waypoints/waypoints.min.js"></script>
    <script src="~/webPainter/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    @RenderBody()
</body>

</html>