@model List<EntityLayer.Concrete.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div class="table-responsive">
    <table class="table table-sm table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Category Desription</th>
                <th style="width:10%">Aktivasyonlar</th>
            </tr>
        </thead>
        <tbody class="table-light">
           @foreach (var CategoryInfos in Model)
            {
                if (CategoryInfos.CategoryStatus==true)
                {
                    <tr>
                        <td>@CategoryInfos.CategoryID</td>
                        <td>@CategoryInfos.CategoryName</td>
                        <td>@CategoryInfos.CategoryDescription</td>
                        <td>
                            <div class="d-flex justify-content-center">
                            <a class="btn btn-sm btn-outline-warning rounded-circle me-2">
                                    <i class="bi bi-pen-fill"></i>
                            </a>
                                    <a class="btn btn-sm btn-outline-danger rounded-circle me-2">
                                    <i class="bi bi-trash3-fill"></i>
                            </a>
                                    <a class="btn btn-sm btn-outline-success rounded-circle">
                                    <i class="bi bi-info-circle-fill"></i>
                            </a>
                                </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>



        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</body>
</html>

