@using EntitiyLayer.Concrete
@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>MÜŞTERİ ADI</th>
        <th>ŞEHİR</th>
        <th>MESLEK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td>@item.Job.Name</td>
            <td><a asp-controller="Customer" asp-action="DeleteCustomer" asp-route-id=@item.ID class="btn btn-outline-danger">SİL</a></td>
            <td><a asp-controller="Customer" asp-action="UpdateCustomer" asp-route-id=@item.ID class="btn btn-outline-success">DÜZENLE</a></td>
        </tr>
    }
</table>

<a asp-controller="Customer" asp-action="AddCustomer" class="btn btn-outline-success">YENİ MÜŞTERİ</a>



