@model EntitiyLayer.Concrete.Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<<form asp-controller="Customer" asp-action="UpdateCustomer" method="post">
    <label asp-for="Name" class="form-control">ÜRÜN ADI:</label>
    <input asp-for="Name" class="form-control" />

    <label asp-for="City" class="form-control">FİYAT:</label>
    <input asp-for="City" class="form-control" />
    <select asp-for="JobID" asp-items=@ViewBag.v class="form-control">MESLEK SEÇİNİZ</select>

    <button type="submit" class="btn btn-outline-success">DÜZENLE</button>
</form>
