@using EntitiyLayer.Concrete;
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>ÜRÜN ADI</th>
        <th>FİYAT</th>
        <th>STOK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
     <tr>
         <td>@item.ID</td>
         <td>@item.Name</td>
         <td>@item.Price</td>
         <td>@item.Stock</td>
         <td><a asp-controller="Product" asp-action="DeleteProduct" asp-route-id=@item.ID class="btn btn-outline-danger">SİL</a></td>
            <td><a asp-controller="Product" asp-action="UpdateProduct" asp-route-id=@item.ID class="btn btn-outline-success">DÜZENLE</a></td>
     </tr>   
    }
</table>

<a asp-controller="Product" asp-action="AddProduct" class="btn btn-outline-success">YENİ ÜRÜN</a>

