@model EntitiyLayer.Concrete.Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<<form asp-controller="Product" asp-action="UpdateProduct" method="post">
    <label asp-for="Name" class="form-control">ÜRÜN ADI:</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Price" class="form-control">FİYAT:</label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price"></span>

    <label asp-for="Stock" class="form-control">STOK SAYISI:</label>
    <input asp-for="Stock" class="form-control" />
    <span asp-validation-for="Stock"></span>


    <button type="submit" class="btn btn-outline-success">DÜZENLE</button>
</form>
