@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<a asp-action="Urunler">Ürünler Sayfası</a>
<a asp-action="Musteriler">Müşteriler</a>
<h1>Merhaba Core Oop :)</h1>
<h1>Mesaj Listesi</h1>
<h1>-------------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>
