@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<h2>@ViewBag.isim</h2>
<a asp-action="Index">Anasayfa</a><br />
<a asp-action="Musteriler">Ürünler</a><br />
<br />
@ViewBag.cumle
@ViewBag.v